//
   Created by hitori on 05.10.14.

extends template

block content
    div.fishy

    header
        img.logo(src='img/hitori.svg')

    main
        div.jumbo
            div I
                span.heart
                    img(src="img/heart.svg", alt="love")
            div#text Programming


